.admin_dashboard {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  .admin_dashboard_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .admin_dashboard_content_title {
      margin: 0;
      font-family: $secondaryFonts;
    }
  }
}
