// Imports
@import "./imports/_vars";
@import "./imports/_animations";
@import "./imports/_landing";
@import "./imports/_register";
@import "./imports/_login";
@import "./imports/_admin_dashboard";
@import "./imports/_profile_drawer";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
