// Imports
@import "./imports/_vars";
@import "./imports/_animations";
@import "./imports/_landing";
@import "./imports/_auth";
@import "./imports/_navbar";
@import "./imports/_profile_drawer";
@import "./imports/_sidebar";
@import "./imports/_admin_dashboard";
@import "./imports/_profile_creation";
@import "./imports/_profile_page";
@import "./imports/_post_page";
@import "./imports/_post_creation";
@import "./imports/_404";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
